<a href="https://colab.research.google.com/github/ovimasbul83/ovimasbul83/blob/main/titanic_with_keras_dnn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.6)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.1)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2020.6.20)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)

In [ ]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle (1).json

{'kaggle.json': b'{"username":"ovihaider","key":"4b1047900f51dd329793ea188b962d15"}'}

In [ ]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

In [ ]:
!kaggle competitions download -c titanic

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
train.csv: Skipping, found more recently modified local copy (use --force to force download)
gender_submission.csv: Skipping, found more recently modified local copy (use --force to force download)
test.csv: Skipping, found more recently modified local copy (use --force to force download)

In [ ]:
import pandas as pd
train=pd.read_csv(r'/content/train.csv')
Y=train['Survived']
train.Sex=train.Sex.map({'male':1,'female':2})
train.Age=train.Age.fillna(train.Age.mean())
train.drop(['PassengerId','Pclass','Name','Ticket','Fare','Cabin','Embarked','Survived'],axis='columns',inplace=True)
train

     Sex        Age  SibSp  Parch
0      1  22.000000      1      0
1      2  38.000000      1      0
2      2  26.000000      0      0
3      2  35.000000      1      0
4      1  35.000000      0      0
..   ...        ...    ...    ...
886    1  27.000000      0      0
887    2  19.000000      0      0
888    2  29.699118      1      2
889    1  26.000000      0      0
890    1  32.000000      0      0

[891 rows x 4 columns]

In [ ]:
test=pd.read_csv(r'/content/test.csv')
#test.drop(['PassengerId','Pclass','Name',])
test.Sex=test.Sex.map({'male':1,'female':2})
test.drop(['PassengerId','Pclass','Name','Ticket','Fare','Cabin','Embarked'],axis='columns',inplace=True)

In [ ]:
test.Age=test.Age.fillna(test.Age.mean())
test

     Sex       Age  SibSp  Parch
0      1  34.50000      0      0
1      2  47.00000      1      0
2      1  62.00000      0      0
3      1  27.00000      0      0
4      2  22.00000      1      1
..   ...       ...    ...    ...
413    1  30.27259      0      0
414    2  39.00000      0      0
415    1  38.50000      0      0
416    1  30.27259      0      0
417    1  30.27259      1      1

[418 rows x 4 columns]

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(train,Y,test_size=0.2)
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
scaler.fit(x_train)
x_train=scaler.transform(x_train)
x_test=scaler.transform(x_test)

In [ ]:
import tensorflow as tf
from tensorflow.keras.optimizers import Adam

In [ ]:
model=tf.keras.models.Sequential([
                                  tf.keras.layers.Flatten(input_shape=(4,)),
                                  tf.keras.layers.Dense(512,activation='relu'),
                                  tf.keras.layers.Dense(512,activation='relu'),
                                  tf.keras.layers.Dense(32,activation='relu'),
                                  tf.keras.layers.Dense(1,activation='sigmoid')])

In [ ]:
model.compile(optimizer='rmsprop',loss='binary_crossentropy',metrics=['accuracy'])
model.fit(x=x_train,y=y_train,epochs=20,validation_data=(x_test,y_test))

Epoch 1/20
23/23 [==============================] - 0s 8ms/step - loss: 0.5424 - accuracy: 0.7781 - val_loss: 0.5369 - val_accuracy: 0.7933
Epoch 2/20
23/23 [==============================] - 0s 4ms/step - loss: 0.5003 - accuracy: 0.7935 - val_loss: 0.4953 - val_accuracy: 0.7989
Epoch 3/20
23/23 [==============================] - 0s 4ms/step - loss: 0.4942 - accuracy: 0.7978 - val_loss: 0.5341 - val_accuracy: 0.7933
Epoch 4/20
23/23 [==============================] - 0s 4ms/step - loss: 0.4837 - accuracy: 0.8146 - val_loss: 0.4870 - val_accuracy: 0.8045
Epoch 5/20
23/23 [==============================] - 0s 4ms/step - loss: 0.4802 - accuracy: 0.8118 - val_loss: 0.4991 - val_accuracy: 0.8101
Epoch 6/20
23/23 [==============================] - 0s 4ms/step - loss: 0.4764 - accuracy: 0.8174 - val_loss: 0.4958 - val_accuracy: 0.8045
Epoch 7/20
23/23 [==============================] - 0s 4ms/step - loss: 0.4729 - accuracy: 0.8202 - val_loss: 0.5238 - val_accuracy: 0.7989
Epoch 8/20
23/23 [==============================] - 0s 4ms/step - loss: 0.4706 - accuracy: 0.8174 - val_loss: 0.5034 - val_accuracy: 0.8101
Epoch 9/20
23/23 [==============================] - 0s 4ms/step - loss: 0.4706 - accuracy: 0.8216 - val_loss: 0.5144 - val_accuracy: 0.8045
Epoch 10/20
23/23 [==============================] - 0s 4ms/step - loss: 0.4675 - accuracy: 0.8230 - val_loss: 0.5015 - val_accuracy: 0.8101
Epoch 11/20
23/23 [==============================] - 0s 4ms/step - loss: 0.4617 - accuracy: 0.8216 - val_loss: 0.5198 - val_accuracy: 0.8045
Epoch 12/20
23/23 [==============================] - 0s 3ms/step - loss: 0.4592 - accuracy: 0.8258 - val_loss: 0.5114 - val_accuracy: 0.8045
Epoch 13/20
23/23 [==============================] - 0s 4ms/step - loss: 0.4571 - accuracy: 0.8272 - val_loss: 0.5351 - val_accuracy: 0.7933
Epoch 14/20
23/23 [==============================] - 0s 3ms/step - loss: 0.4536 - accuracy: 0.8216 - val_loss: 0.4951 - val_accuracy: 0.8045
Epoch 15/20
23/23 [==============================] - 0s 3ms/step - loss: 0.4573 - accuracy: 0.8244 - val_loss: 0.5100 - val_accuracy: 0.8045
Epoch 16/20
23/23 [==============================] - 0s 3ms/step - loss: 0.4526 - accuracy: 0.8216 - val_loss: 0.5093 - val_accuracy: 0.8101
Epoch 17/20
23/23 [==============================] - 0s 3ms/step - loss: 0.4520 - accuracy: 0.8244 - val_loss: 0.5218 - val_accuracy: 0.7877
Epoch 18/20
23/23 [==============================] - 0s 4ms/step - loss: 0.4514 - accuracy: 0.8188 - val_loss: 0.5290 - val_accuracy: 0.8101
Epoch 19/20
23/23 [==============================] - 0s 4ms/step - loss: 0.4530 - accuracy: 0.8244 - val_loss: 0.5399 - val_accuracy: 0.7933
Epoch 20/20
23/23 [==============================] - 0s 4ms/step - loss: 0.4511 - accuracy: 0.8258 - val_loss: 0.5632 - val_accuracy: 0.7933

In [ ]:
y_train.shape

(712,)